<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rural development website</title>
    <link rel="stylesheet" href="css/agri.css">
</head>
<body>
    <div class="container">
      <div class="data">
        <h2 class="contact">Contact Us</h2>
      </div>
        <div class="data">
          <img src="img/call.png"class="img" alt="Call">
    <p>6386561331</p>
   </div>
   <div class="data"> <img class="img"src="img/gmail.png" alt="Mail">
    <p>alokpandey6386561331@gmail.com</p></div>
    <div class="google"id="google_translate_element"></div>
 </div>
 <div class="n ">
  <div class="na active">
    <div class="logo">Rural</div>
    <nav>
      <ul >
        
        <li> <a href="/index">Home</a></li>
        <li> <a href="/health">Health</a></li>
        <li> <a href="/edu">education</a></li>
        <li> <a class="active" href="/agri">Agriculture</a></li>
        <li> <a href="/complain">Complain Box</a></li>
        <li> <a href="/register">Sing Up/Login</a></li>
        
       
      </ul>
   </nav>
   <div class="navimg"> 
    <img src="img/navigation-bar.png" alt="sss" class="img1">
    <img src="img/R.png" alt="ttt" class="img2">
   </div>
   
  </div>
    </div> 
    <section>
      
      <h1 class="main">Scheme</h1>
     
        <div class="card">
          <h1>Schems</h1>
          <h3>Pradhan Mantri Kisan Scheme</h3>
          <p class="c"><img class="lea"src="img/PMKS.jpg" alt="PM-Kisan Scheme">
            Pradhan Mantri Kisan Samman Nidhi Yojana is an initiative of the Government of India with 100%
             central sponsored scheme. As per this scheme aprox 120 million small and marginal farmers of India
              with less than two hectares of landholding will get up to Rs. 6,000/- per year in three installment 
              of Rs. 2,000/- as a minimum income support.
             PM-Kisan scheme or PM Kisan Samman Nidhi Yojana has become operational since 1st December 2018.
             <br><a href="https://www.pmkisan.gov.in/" target="_blank">Scheme Link</a> 
          </p>
          <br>
            <h3> Pradhan Mantri Kisan Maandhan yojana</h3>
            <p class="c"><img class="lea"src="img/PMKMY.jpg" alt=" Pradhan Mantri Kisan Maandhan yojana">
              Prime Minister Narendra Modi launched a pension scheme for welfare of all small & marginal farmers.
               Under this scheme about 5 crore marginalised farmers will get a minimum monthly pension of up to 
               Rs.3000/- on attaining the age of 60. All those farmers who fall in the age group of 18 - 40 years 
               are eligible to apply for the scheme. As per this scheme, the farmers will be required to make 
               a monthly contribution of Rs 55 to 200, depending on their age of entry in the Pension Fund till
                they reach the retirement date i.e. 60 years.
               As per the Scheme, Government will make an equal contribution of the same amount in the pension fund for the cultivators.
               <br><a href="https://maandhan.in/" target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>Pradhan Mantri Fasal Bima Yojana (PMFBY)</h3>
            <p class="c"><img class="lea"src="img/PMFBY.jpg" alt="Pradhan Mantri Fasal Bima Yojana (PMFBY)">
              Pradhan Mantri Fasal Bima Yojana is an actuarial premium based scheme for their crops. 
              As per the scheme farmer has to pay maximum premium of 2 percent for Kharif, 1.5 percent 
              for Rabi food & oilseed crops and 5 percent for annual commercial or horticultural crops 
              and the remaining part of the actuarial or bidded premium is equally shared by the Central & State Government.
                An important purpose of the scheme is to facilitate quick claims and hassle free settlement.
                <br><a href="https://www.mygov.in/campaigns/pmfby/" target="_blank">Scheme Link</a> 
            </p>
            <br>
            <h3>Kisan Credit Card (KCC) scheme</h3>
            <p class="c"><img class="lea"src="img/KCC.jpg" alt="Kisan Credit Card (KCC) scheme">
              Kisan Credit Card scheme is another important Government scheme for the welfare of farmers that provides
               farmers with timely access to credit for their harvest. Initially Kisan Credit Card scheme was 
               introduced in the year 1998 to provide short-term formal credit to the farmers. KCC scheme was
                launched to ensure that the credit requirements for cultivators in agriculture sector, fisheries
                 & animal husbandry sector were being met. Under this scheme, farmers are given short-term loans 
                 for purchasing  equipment and other expenses 
              as well on a very nominal rate of interest. Most of the Banks like SBI, HDFC, ICICI, Axis are offering KCC.
              <br><a href="https://www.myscheme.gov.in/schemes/kcc" target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3> Pashu Kisan Credit Card Scheme</h3>
            <p class="c"><img class="lea"src="img/PKCCS.webp" alt="Pashu Kisan Credit Card Scheme">
              For the growth and development of animal husbandry sector in India, Government of
               India has launched ‘Pashu Kisan Credit Card’ for livestock farmers. Haryana is the
                first state in the country to provide Pashu Kisan Credit Card to their farmers.
                 Under this scheme, farmers are given loan to buy cow, 
              buffalo, goat etc and the loan can be obtained from the nearest Bank..
              <br><a href="https://www.bankbazaar.com/pashu-kisan-credit-card.html" target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>Paramparagat Krishi Vikas Yojana (PKVY)</h3>
            <p class="c"><img class="lea"src="img/PKVY.webp" alt="Paramparagat Krishi Vikas Yojana (PKVY)">
              To promote organic cultivation in India Paramparagat Krishi Vikas Yojana is
               implemented by the Government. This will improve soil health as well as 
               organic matter content and will boost the net income of the farmer so as to realize premium prices.
               <br><a href="https://www.vikaspedia.in/agriculture/policies-and-schemes/crops-related/krishi-unnati-yojana/paramparagat-krishi-vikas-yojana" target="_blank">Scheme Link</a>  </p>
          
           <br>
          <h3>Pradhan Mantri Krishi Sinchai Yojana (PMKSY)</h3>
          <p class="c"><img class="lea"src="img/PMKSY.jpg" alt="Pradhan Mantri Krishi Sinchai Yojana (PMKSY)">
            Pradhan Mantri Krishi Sinchai Yojana was launched on 1 July 2015 to achieve the aim ‘Har Khet
             Ko Paani’ and to provide end-to end solutions in irrigation supply chain, viz. water sources,
              distribution network & farm level applications. PMKSY focuses on creating sources for assured 
              irrigation. This also aims to create protective irrigation by harnessing rain water at micro level 
            through ‘Jal Sanchay’ and ‘Jal Sinchan’. Below are some important components of this scheme; 
            <br><a href="https://www.pmksy.gov.in/"target="_blank">Scheme Link</a>
          </p>
          <br>
          <h3>National Agriculture Market (e-NAM)</h3>
          <p class="c"><img class="lea"src="img/e-NAM.jpg" alt="National Agriculture Market (e-NAM)">
            To support creation of infrastructure to enable e-marketing, National Agriculture Market
             gives an e-marketing platform at the national level. This new market process is revolutionizing 
             agriculture markets and guaranteeing better price discovery. It also brings transparency in the 
             systeme and competition to enable cultivators 
            to get improved remuneration for their produce moving towards ‘One Nation One Market’. 
            <br><a href="https://enam.gov.in/web/"target="_blank">Scheme Link</a>
          </p>
          <br>
          <h3> Dairy Entrepreneurship Development Scheme</h3>
          <p class="c"><img class="lea"src="img/DDMS.jpg" alt="Dairy Entrepreneurship Development Scheme">
            In the year 2005-06, Department of Animal Husbandry, Dairying & Fisheries (DAHD&F) Government 
            of India launched a pilot scheme called as “Venture Capital Scheme for Dairy & Poultry”.
              This scheme aimed at extending support for setting up small dairy farms and other components
               to bring structural changes in this sector. Later on, DAHD&F changed its name to 'Dairy 
               Entrepreneurship Development Scheme' (DEDS).
             After this the revised scheme came into operation with effect from 1st September, 2010.
             <br><a href="https://www.agrifarming.in/dairy-entrepreneurship-development-scheme-in-india-deds-benefits-eligibility"target="_blank">Scheme Link</a>
          </p>
          <br>
          <h3>Rainfed Area Development Programme (RADP)</h3>
          <p class="c"><img class="lea"src="img/RADP.jpg" alt="Rainfed Area Development Programme (RADP)">
            Rainfed Area Development Programme was started as a sub-scheme of Rashtriya Krishi Vikas Yojana (RKVY). 
            The aim of this scheme was to improve quality of life of farmers’ especially, small and marginal farmers.
             This scheme focuses to provide a complete package of activities to maximize farm returns. It also help in 
             increasing agricultural productivity of rainfed areas in a sustainable way. This  can be achieved by 
             adopting suitable farming system based approaches. It minimizes the adverse impact of possible crop failure due to drought,
             flood or un-even rainfall distribution by diversified & composite farming system 
             <br><a href="https://nraa.gov.in/"target="_blank">Scheme Link</a></p>      
             </div>
            
    <script type="text/javascript">
      

        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
        
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
      const navimg = document.querySelector(".navimg");
      const header = document.querySelector(".na");
  
      const toggle = () =>{
        header.classList.toggle("active")
      }
      navimg.addEventListener('click',() => toggle());
    </script> 
</body>
</html>