<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rural development website</title>
    <link rel="stylesheet" href="css/edu.css">
</head>
<body>
    <div class="container">
      <div class="data">
        <h2 class="contact">Contact Us</h2>
      </div>
      <div class="data">
        <img src="img/call.png"class="img" alt="Call">
  <p>6386561331</p>
 </div>
 <div class="data"> <img class="img"src="img/gmail.png" alt="Mail">
  <p>alokpandey6386561331@gmail.com</p></div>
  <div class="google"id="google_translate_element"></div>
</div>
<div class="n ">
  <div class="na active">
    <div class="logo">Rural</div>
    <nav>
      <ul >
        
        <li> <a href="/index">Home</a></li>
        <li> <a href="/health">Health</a></li>
        <li> <a class="active" href="/edu">education</a></li>
        <li> <a href="/agri">Agriculture</a></li>
        <li> <a href="/complain">Complain Box</a></li>
        <li> <a href="/register">Sing Up/Login</a></li>
        
       
      </ul>
   </nav>
   <div class="navimg"> 
    <img src="img/navigation-bar.png" alt="sss" class="img1">
    <img src="img/R.png" alt="ttt" class="img2">
   </div>
   
  </div>
    <section>
      
      <h1 class="main">Scheme</h1>
     
        <div class="card">
          <h1>Schems</h1>
          <h3>Sarva Shiksha Abhiyan</h3>
          <p class="c"><img class="lea"src="img/Sarva.jpg" alt="sarve Shiksha abhiyan">
            The Government of India has launched many projects to promote the schemes of teaching and devices 
            of training throughout nation since the year 2000. All the state governments are
             being provided proper guidelines and financial assistance. New educational institutions are being
              established with the construction of school buildings, supplementary classrooms and laboratories
               play grounds, safe drinking water, toilets etc.
            Employment of regular and well qualified teaching and official staff is very essential and is being taken
            care of. The students are being given assistance of free textbooks, uniforms, sports’ equipments and support for 
            improving learning under the Sarva Shiksha Abhiyan Scheme.
            <br><a href="https://www.india.gov.in/official-website-sarva-shiksha-abhiyan-0"target="_blank">Scheme Link</a>
          </p>
          <br>
            <h3> Mid-Day Meal Scheme</h3>
            <p class="c"><img class="lea"src="img/Mid.webp" alt="Mid-Day Meal Scheme">
              Mid Day Meal Scheme in India was launched on 15th August 1995. All the students at
               government and aided schools are served with prominent, healthy and tasteful food during 
               their stay at school. The diet is given with specified menu for about 200 days per annum,
                having about 300 calories, supplemented with nutritious variety of food 
                (supported with sufficient proteins, minerals and vitamins). The objectives of Mid-Day Meal Scheme
                 is to motivates poor students to acquire admissions and progress with health improvement
               with higher retention. This scheme comes under the Ministry of HRD Government of India.
               <br><a href="https://byjus.com/free-ias-prep/mdms-mid-day-meal-scheme/"target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>Rashtriya Madhyamik Shiksha Abhiyan</h3>
            <p class="c"><img class="lea"src="img/samagra.jpg" alt="Rashtriya Madhyamik Shiksha Abhiyan">
              Rashtriya Madhyamik Shiksha Abhiyan (RMSA) Programme has been projected by Government 
              of India since March, 2009, to improve upon the accessibility and quality of secondary
               education. This plan has raised the rate of enrollment from 52% during 2005-2006 to about 75%.
                The implementation of this scheme targets discarding barrier of gender, caste and creed, socio-economic and disability
               fence and also gives universal reach to secondary level education by the present year of 2017.
               <br><a href="https://www.india.gov.in/spotlight/rashtriya-madhyamik-shiksha-abhiyan#tab=tab-1"target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>National Scheme of Incentives to Girls for Secondary Education</h3>
            <p class="c"><img class="lea"src="img/girls edu.jpg" alt="National Scheme of Incentives to Girls for Secondary Education">
              The central government of India has taken an extraordinary decision to enhance the 
              enrollment of young girls (in the age group of 14 to 18 years) at secondary stage. 
              This centrally sponsored scheme projected w.e.f. May, 
              2008, provides encouragement to girls to progress for secondary education and beyond.
              <br><a href="https://www.myscheme.gov.in/schemes/nsigse"target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3> Saakshar Bharat Mission</h3>
            <p class="c"><img class="lea"src="img/Saakshar.jpg" alt="Saakshar Bharat Mission">
              Saakshar Bharat is a Program was designed and implemented in the year 2009 with an
               important motif of raising the national literacy level to 80 percent.
              Higher concentration was laid on educating adult women so that the gap between rate of literacy 
              for females and males should not be more than 10 percent under the objectives of Saakshar Bharat 
              Mission this is nice approach in context to 2017. More so, another aspect of scheme involved the
              overall promotion of Reading, Writing and Arithmetic (3’ R).
              Saakshar Bharat Mission Prerak salary is as per the norms of the Government.
              <br><a href="https://saksharbharat.in/"target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>Kasturba Gandhi Balika Vidyalaya</h3>
            <p class="c"><img class="lea"src="img/Kasturba.jpg" alt="Kasturba Gandhi Balika Vidyalaya">
              Launched in 2004, the KGBV scheme aims at setting up residential schools for girls 
              belonging to minority communities at the upper primary level. This scheme is mainly
               implemented in the parts of the country where girls aren’t enrolled in school. This
                scheme provides reservation of 25% to girls from families below the poverty line and 
                the rest 75% to the girls belonging to ST, SC, OBC, and other minority communities. The main idea behind this scheme is
               that by setting up residential schools, girls from disadvantaged groups of the society can access quality education.
               <br><a href="https://samagra.education.gov.in/kgbv.html"target="_blank">Scheme Link</a>
              </p>

           
          
        </div>
        <h1 class="main">Scheme for heigher education</h1>
     
        <div class="card">
          
          <h3>PG Scholarship Scheme</h3>
          <p class="c"><img class="lea"src="img/pg.webp" alt="PG Scholarship Scheme">
            This PG Scholarship Scheme is awarded to full time GATE / GPAT qualified students.
             All the qualified students admitted to M.E./ M. Tech/ M. Arch and M.Pharma courses
              in AICTE approved Institutions and Colleges are eligible.
             The PG Scholarship Scheme beneficiaries gets Rs. 12,400 per month per student.
             <br><a href="https://www.aicte-india.org/schemes/students-development-schemes/PG-Scholarship-Scheme"target="_blank">Scheme Link</a>
          </p>
          <br>
            <h3>National Doctoral Fellowship (NDF)</h3>
            <p class="c"><img class="lea"src="img/follow.png" alt="National Doctoral Fellowship (NDF)">
              This NDF Scheme admits full time meritorious research scholars by providing research fellowship
               to students. All those who want to seek admission to Ph.D. in AICTE approved Technical Institutes 
               / University Departments for carrying out research in thrust areas. 
              The candidates can apply online for National Doctoral Fellowship Scheme to avail its benefits.
              <br><a href="https://www.indiascienceandtechnology.gov.in/nurturing-minds/scholarships/post-doctoral/national-post-doctoral-fellowship-n-pdf"target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>Pragati Scholarship Scheme</h3>
            <p class="c"><img class="lea"src="img/pragati.jpg" alt="Pragati Scholarship Scheme">
              Pragati Scholarship / Contingency is awarded to meritorious girls taking admission in AICTE approved Technical
               institution at Degree/ Diploma. Total 4000 scholarship are given @ Rs. 30000 as tuition fee reimbursement and Rs.
               20000 as incidentals each year. Students can now Apply Online for Pragati Scheme to avail its benefits.
               <br><a href="https://aicte-pragati-saksham-gov.in/"target="_blank">Scheme Link</a>
            </p>
            <br>
            <br>
            <h3> Prerana Scheme for Preparing SC / ST Students for Higher Education</h3>
            <p class="c"><img class="lea"src="img/Prerana.jpg" alt="Prerana Scheme for Preparing SC / ST Students for Higher Education">
              There is an acute shortage of faculty in engineering & polytechnic colleges. 
              The problem can be addressed by promoting degree students of pre-final and final year 
              to go for post graduate courses. Prerana Scheme aims at providing financial support to 
              institutes who are willing to put extra efforts for encouraging and training SC/ST students
               for GATE/GPAT/CAT/CMAT and GRE. The broad objective of the scheme is to help aspiring SC/ST 
               students seeking higher education through admission test like GATE/GPAT/CAT/CMAT/ TOEFL/ IELTS and GRE. 
              Students can Apply Online for Prerana Scheme to avail its benefits.
              <br><a href="https://proudly.in/prerana-scheme/"target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>Saksham Scholarship Scheme</h3>
            <p class="c"><img class="lea"src="img/saksham.jpg" alt="Saksham Scholarship Scheme">
              Saksham Scholarship / Contingency is awarded to differently abled students taking admission in
               AICTE approved Technical institution at Degree/ Diploma. Total 1000 scholarship are given @ Rs.
                30000 as tuition fee reimbursement and Rs.
               20000 as incidentals each year. Students can now Apply Online for Saksham Scheme to avail its benefits.
               <br><a href="https://www.aicte-india.org/"target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>Samriddhi Scheme for SC / ST Students to Setup Startups</h3>
            <p class="c"><img class="lea"src="img/Samriddhi.jpg" alt="Samriddhi Scheme for SC / ST Students to Setup Startups">
              Looking at the poor job availability in the market, it is necessary to provide opportunities
               for SC/ST students to start their own enterprise. The broad objective of Samriddhi Scheme is
                to help SC/ST students is in designing, launching and running their own business/startup through 
                entrepreneurship development programme after formal education is over/during their education as per AICTE’s 
              startup policy. Students can Apply Online for Samriddhi Scheme to avail its benefits.
              <br><a href="https://www.spce.ac.in/Samriddhi%20Scheme.php"target="_blank">Scheme Link</a>
              </p>
              <h3>Prime Minister’s Special Scholarship Scheme (PMSSS)
              </h3>
              <p class="c"><img class="lea"src="img/sss.jpg" alt="Prime Minister’s Special Scholarship Scheme (PMSSS)
                ">
                Objective of PM Scholarship Scheme is to build up capacities in youth of J&K,
                 educate, enable and empowering them to compete in normal course, enhancing and 
                 boosting employment potentials in students of J&K. Total 5000 scholarship are given
                  @ Rs. 100000/- as Maintenance Charges and academic fee as Rs. 30000/- to General Degree, Rs. 125000/- 
                to Engineering Degree & Rs. 300000/- to Medical Degree each year.
                <br><a href="https://www.aicte-india.org/bureaus/jk/"target="_blank">Scheme Link</a>
              </p>
              <br>
              <h3>Smart India Hackathon
              </h3>
              <p class="c"><img class="lea"src="img/smarti.webp" alt="Smart India Hackathon
                ">
                Smart India Hackathon is a unique initiative to identify new and disruptive digital
                 solutions for solving the challenges faced by our country under the program of Smart
                  India Hackathon 2017. This event was held on 1st – 2nd April 2017 for 36 hrs non-stop 
                  competition. 9544 technology students, 598 problems statements, 29 different central govt. ministries,
                 26 different Nodal centres & funding of Rs. 3 Lakh per team for 100 qualified teams.
                 <br><a href="https://www.sih.gov.in/"target="_blank">Scheme Link</a>
              </p>
              <br>
              <h3>Support to Students for Participating in Competition Abroad (SSPCA)</h3>
              <p class="c"><img class="lea"src="img/sspca.jpg" alt="Support to Students for Participating in Competition Abroad (SSPCA)">
                The objective of the SSPCA Scheme is to provide travel assistance registration fees to a
                 team of minimum 2 to 10 students for attending competition at international level in order
                  to encourage engineering students to improve their field of technical 
                education. Students can apply online for SSPCA Scheme to avail its benefits.
                <br><a href="https://www.myscheme.gov.in/schemes/sspca"target="_blank">Scheme Link</a>
                </p>

           
          
        </div>
    </section>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
      </script>
      
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <script>
        const navimg = document.querySelector(".navimg");
        const header = document.querySelector(".na");
    
        const toggle = () =>{
          header.classList.toggle("active")
        }
        navimg.addEventListener('click',() => toggle());
      </script>

</body>
</html>