<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rural development website</title>
    <link rel="stylesheet" href="css/health.css">
</head>
<body>

    <div class="container">
      <div class="data">
        <h2 class="contact">Contact Us</h2>
      </div>
      <div class="data">
        <img src="img/call.png"class="img" alt="Call">
  <p>6386561331</p>
 </div>
 <div class="data"> <img class="img"src="img/gmail.png" alt="Mail">
  <p>alokpandey6386561331@gmail.com</p></div>
  <div class="google"id="google_translate_element"></div>
</div>
<div class="n ">
  <div class="na active">
    <div class="logo">Rural</div>
    <nav>
      <ul >
        
        <li> <a href="/index">Home</a></li>
        <li> <a class="active"href="/health">Health</a></li>
        <li> <a href="/edu">education</a></li>
        <li> <a href="/agri">Agriculture</a></li>
        <li> <a href="/complain">Complain Box</a></li>
        <li> <a href="/register">Sing Up/Login</a></li>
        
       
      </ul>
   </nav>
   <div class="navimg"> 
    <img src="img/navigation-bar.png" alt="sss" class="img1">
    <img src="img/R.png" alt="ttt" class="img2">
   </div>
   
  </div>
    <section>
      
      <h1 class="main">Scheme</h1>
     
        <div class="card">
          <h1>Schems</h1>
          <h3>Ayushman Bharat Scheme</h3>
          <p class="c"><img class="lea"src="img/ayushman.jpg" alt="UGC chairman">
            The Ayushman Bharat Scheme is a health insurance scheme designed to unify the
             segmented health sector in India. It comprises two components:Health and Wellness 
             Centres (HWC) and the Pradhan Mantri Jan Arogya Yojana (PM-JAY). The Health and Wellness 
             Centres are supposed to be better developed versions of Primary Healthcare Centres
             The PM-JAY scheme is a health insurance scheme that offers Rs.
              5 lakh as the sum assured per family with a premium of Rs, 30.
             <br><a href="https://www.nhp.gov.in/ayushman-bharat-yojana_pg#:" target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3> Reproductive, Maternal, Newborn, Child and Adolescent Health (RMNCH+A)</h3>
            <p class="c"><img class="lea"src="img/RMNCH+A.jpg" alt="UGC chairman">
              Reproductive, Maternal, Newborn, Child and Adolescent Health (RMNCH+A) programme essentially
               looks to address the major causes of mortality among women and children as well as the delays in
                accessing and utilizing health care and services. It also introduces new initiatives like the use
                 of Score Card to track health performance, National Iron + Initiative to address the issue of 
                 anemia across all age groups and the Comprehensive Screening 
              and Early interventions for defects at birth, diseases, and deficiencies among children and adolescents.
              <br><a href="https://www.nhm.gov.in/index1.php?lang=1&level=1&sublinkid=794&lid=168 " target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>Bhamashah Swasthya Bima Yojana:</h3>
            <p class="c"><img class="lea"src="img/Bhamashah.jpg" alt="CEO of serum">
              Bhamashah Swasthya Bima Yojana:
              Rajasthan Government supports insurance initiatives towards its citizens under the Bahmashah Swasthya Bima Yojana.
               This is a cashless claims scheme for rural people of Rajasthan.
               There is no prescribed age limit for availing the benefits of this scheme.
              Those who are a part of the National Food Security Act (NFSA) and the Rashtriya 
              Swasthya Bima Yojana (RSBY) are also qualified for this insurance policy. This scheme 
              covers hospitalization expenses for general illness as well as critical illnesses as per the terms 
              and conditions. It covers both in-patient as well as out-patient expenses.
              <br><a href="https://iiflinsurance.com/insurance-companies/bhamashah-swasthya-bima-yojana" target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3>Central Government Health Scheme (CGHS):</h3>
            <p class="c"><img class="lea"src="img/CGHS.jpg" alt="CEO of serum">
              Central Government Health Scheme (CGHS):
              As the name suggests, this policy is initiated by India’s Central Government.
              Central Government employees are eligible for this policy. For example, Supreme Court judges,
              Certain Railway Board employees, etc. This policy has been active for six decades
              and has covered more than 35 lakh employees and pensioners.
              Hospitalization, as well as domiciliary care, are covered as per this plan’s
               terms and conditions. Central Government Health Insurance Scheme covers Allopathy and
                Homeopathy as well. It is available in 71 cities and the plan is to expand the scope to more areas.
                <br><a href="https://www.bankbazaarinsurance.com/central-government-health-insurance-scheme.html" target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3> Karunya Health Scheme:</h3>
            <p class="c"><img class="lea"src="img/Karunya.png" alt="CEO of serum">
              Karunya Health Scheme:
              Kerala Government had launched this initiative in the year 2012. Karunya Health Scheme 
              is directed towards providing Health Insurance for listed chronic illnesses.
               It is a Critical Illness plan for the poor and covers major diseases such as Cancer, 
               Kidney Ailments, Heart-related medical issues, etc. 
              Those below or near the poverty line can enrol themselves for this cover.
               Aadhaar Card and appropriate Income Certificate are needed for this scheme.
                There were rumours that this scheme has been abolished, however, they were just rumours as this scheme is still active.
                <br><a href="https://sha.kerala.gov.in/karunya-arogya-suraksha-padhathi/" target="_blank">Scheme Link</a>
            </p>
            <br>
            <h3> Mahatma Jyotiba Phule Jan Arogya Yojana:</h3>
            <p class="c"><img class="lea"src="img/mjpjay.png" alt="CEO of serum">
              Mahatma Jyotiba Phule Jan Arogya Yojana:
              This policy is initiated by the Government of Maharashtra for the betterment of its downtrodden people.
               Rajiv Gandhi Jeevandayee Arogya Yojana was renamed as Mahatma Jyotiba Phule Jan Arogya Yojana in the year 2017.
              Farmers from select districts and people below and around the poverty line across all 
              districts are eligible for this scheme. It is a family cover with a benefit of Rs. 150000.
               The diseases mentioned as inclusions in the scheme shall be covered from day one, without any
                waiting period unless specified.
                <br><a href="https://www.jeevandayee.gov.in/" target="_blank">Scheme Link</a>
              </p>

           
          
        </div>
        <div class="card">
          <br><br><br>
          <h1 class="main"> Plan</h1>
          <h2>Government plan</h2>
          <p class="c"><b>Government Initiatives in the Health Sector of India!</b>
            With the aim of achieving inclusive growth, recent policy initiatives in health sector include two programmes, viz.
             (1) National Rural Heath Mission, 
            and (2) National Urban Health Mission, the two forming Sarva Swasthya Abhiyan in heath sector.</p>
            <br>
            <p class="c"><img class="lea"src="img/NRHM.jpg" alt="CEO of serum"><b>National Rural Health Mission:</b>
              National Rural Health Mission (NRHM) is an Indian health programme for improving healthcare delivery 
              across rural India. NRHM was launched to address the infirmities and problems, prevailing across the 
              primary healthcare system in the country. The mission aims to provide universal access to equitable, affordable,
               and quality healthcare that is accountable and at the same time responsive to the needs of the people.
               <br>
               
               <b>Five Planks of the Mission:</b>
               i. The Mission is expected to address the gaps in the provision of effective healthcare to rural
                population with a special focus on 18 states, which have weak public health indicators and/or weak infrastructure.
               ii. The mission is a shift away from the vertical health and family welfare programmes to a new 
               architecture of all inclusive health development in which societies under different programmes will
                be merged and resources pooled at the district level.
               iii. The mission aims at effective integration of health concerns, with a focus on major determinants 
               of health like drinking water, sanitation, and nutrition, through the drawing up of integrated district 
               plans for Health. There is a provision for flexible funding so that, States can utilise it in the areas
                they feel are important.
               iv. The mission provides for appointment of Accredited Social Health Activists
                (ASHA) in each village and strengthening if the public health infrastructure, including
                 outreach through mobile clinics. It emphasises involvement of the non-profit sector, especially
                  in the underserved involvement of the non-profit sector, especially in the underserved areas. 
                  It also aims at flexibility at the local level by providing for untied funds.
                  <br><a href="https://nhm.gov.in/index1.php?lang=1&level=1&sublinkid=969&lid=49" target="_blank">Scheme Link</a>
               
              
               <br>
               <br><br><br>
            <p class="c"><img class="lea"src="img/NUHM.png" alt="CEO of serum"><b>National Urban Health Mission (NUHM):</b>
              The NUHM will meet the health needs of the poor, particularly the slum dwellers, by making 
              available to them essential primary healthcare services. t This will be done by in high-calibre 
              health professionals, appropriate technology through PPP and health insurance for urban poor.
              
              <b>The NUHM will ensure the following:</b>
              i. Resources for addressing the health problems in urban areas, especially among urban poor.
              ii. Need based city specific urban healthcare system to meet the diverse health needs of the urban poor 
              and other vulnerable sections.
              iii. Partnership with community for a more proactive involvement in planning, implementation, 
              and monitoring of health activities.
              iv. Institutional mechanism and management systems to meet the health-related challenges of a rapidly growing urban
               population.
              v. Framework for partnership with NGOs, charitable hospitals, and other stakeholders.
              <b>Two-tier system of sick pooling like:</b>
              (i) Women’s Mahila Arogya Samiti to fulfill urgent hard-cash need for treatments;
              (ii) A Health Insurance Scheme for enabling urban poor to meet medical treatment needs; etc.
              <br><a href="https://www.nhm.gov.in/index1.php?lang=1&level=1&sublinkid=970&lid=137" target="_blank">Scheme Link</a>
              </p>
              <br>
              <p class="c"><img class="lea"src="img/HealthT.webp" alt="UGC chairman">
                There are several shortfalls that need to be addressed in the development of human resources for
                 public health services. There is a dire need to establish training facilities for public health specialists
                  along with identifying the scope for their contribution in the field. The Public Health Foundation of India is
                   a positive step to redress the limited institutional capacity in India by strengthening training, research 
                   and policy development in public health. Preservice training is essential to train the medical workforce in
                    public health leadership and to impart skills required for the practice of public health. Changes in the 
                    undergraduate curriculum are vital for capacity building in emerging issues like geriatric care, adolescent
                     health and mental health. Inservice training for medical officers is essential for imparting management
                      skills and leadership qualities.
                 Equally important is the need to increase the number of paramedical workers and training institutes in India.
                 <br><a href="https://www.nhp.gov.in/ayushman-bharat-yojana_pg#:" target="_blank">Scheme Link</a>
                </p>
              <br>
              
              

        </div>

       
      
    </section>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
        
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
      const navimg = document.querySelector(".navimg");
      const header = document.querySelector(".na");
  
      const toggle = () =>{
        header.classList.toggle("active")
      }
      navimg.addEventListener('click',() => toggle());
    </script> 
</body>
</html>