<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rural development website</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
 <h1 id="heading">Rural Development Website</h1>
 <div class="container">
  <div class="data">
    <h2 class="contact">Contact Us</h2>
  </div>
  <div class="data">
    <img src="img/call.png"class="img" alt="Call">
<p>6386561331</p>
</div>
<div class="data"> <img class="img"src="img/gmail.png" alt="Mail">
    <p><a id="m"href="alokpandey6386561331@gmail.com">alokpandey6386561331@gmail.com</a></p></div>
    <div class="google"id="google_translate_element"></div>
</div>
  <div class="n ">
    <div class="na active">
      <div class="logo">Rural</div>
      <nav>
        <ul >
          
          <li> <a class="active"href="/index">Home</a></li>
          <li> <a href="/health">Health</a></li>
          <li> <a href="/edu">education</a></li>
          <li> <a href="/agri">Agriculture</a></li>
          <li> <a href="/complain">Complain Box</a></li>
          <li> <a href="/register">Sing Up/Login</a></li>
          
         
        </ul>
     </nav>
     <div class="navimg"> 
      <img src="img/navigation-bar.png" alt="sss" class="img1">
      <img src="img/R.png" alt="ttt" class="img2">
     </div>
     
    </div>
    <div class="sliedbar"></div>
   
  </div>
  <div class="ho">
     <div class="hos">
      <h1>Health</h1>
     </div>
  </div>
 <div class="main">
       <div class="gal1">
        <img class="Himg"src="img/doctors.jpeg" alt="doctors">
        <div class="desc">In our job, you will naver go home at the end of the day thinking that you have not done 
          something valuable and importent.</div>
       </div>
       <div class="gal1">
        <img class="Himg"src="img/nurse.webp" alt="nurse">
        <div class="desc">Nurse are unique kind.They have this insatiable need to care for others,which is both their greatest 
          strength and fatal flaw.

        </div>
       </div>
       <div class="gal1">
        <img class="Himg"src="img/hospital.jpeg" alt="hospital">
        <div class="desc">This life is a hospital in which every patient is possessed with a desire to 
          change his bed. </div>
       </div> 
       <div class="gal1">
        <img class="Himg"src="img/medicinse.webp" alt="medicinse">
        <div class="desc">Medicine is a science of uncertainty and an art of probability.</div>
       </div>
 </div>
 <div class="ho">
  <div class="hos">
   <h1>Education</h1>
  </div>
</div>
<div class="main">
    <div class="gal1">
     <img class="Himg"src="img/teacher.jpeg" alt="teacher">
     <div class="desc">A teacher affects eternity; he [or she] can never tell where his influence stops.</div>
    </div>
    <div class="gal1">
     <img class="Himg"src="img/book.jpeg" alt="book">
     <div class="desc">Books are the quietest and most constant of friends; they are the most 
      accessible and wisest of counselors, and the most patient of teachers.</div>
    </div> <div class="gal1">
     <img class="Himg"src="img/college.jpeg" alt="college">
     <div class="desc">I miss the days in college when my alarm clock would 
      be set in the P.M. Funny how angry I was then and how funny it is now.

    </div>
    </div> <div class="gal1">
     <img class="Himg"src="img/student.webp" alt="student">
     <div class="desc">Education is the passport to the future, for tomorrow belongs to those who prepare for it today.</div>
    </div>
</div>
<div class="ho">
  <div class="hos">
   <h1>Agriculture</h1>
  </div>
</div>
<div class="main">
    <div class="gal1">
     <img class="Himg" src="img/farmer.jpeg" alt="farmer">
     <div class="desc">Their hands are tied not by ropes but by the greed of the intermediaries that
       the system has generated, who eat up the farmer’s income while it is on its way into his hands.</div>
    </div>
    <div class="gal1">
     <img class="Himg"src="img/crop.jpeg" alt="crop">
     <div class="desc">Farming looks mighty easy when your plow is a pencil and you’re a thousand miles from the corn field.</div>
    </div> <div class="gal1">
     <img class="Himg"src="img/farmerlife.jpeg" alt="farmerlife">
     <div class="desc">The farmer is the only man in our economy who buys everything at retail,
       sells everything at wholesale, and pays the freight both ways.</div>
    </div> <div class="gal1">
     <img class="Himg"src="img/farmer.jpg" alt="farmer">
     <div class="desc">It is only the farmer who faithfully plants seeds in the Spring, who reaps a harvest in the Autumn.</div>
    </div>
</div>
<section >
  <h2>Leaders</h2>
  <div class="card-container">
    <div class="card card1">
      <h3>UGC chairman</h3>
      <p><img class="lea"src="img/UGC chairman.webp" alt="UGC chairman">
          Prof. Ved Prakash, chairman of University Grants Commission (UGC), the country’s
          apex level funding and supervisory authority for higher (non-technical) education. 
          Founder vice chancellor of the National University for Educational Planning and Administration (NUEPA),
          Delhi, a former director of NCERT, World Bank consultant, 
          and hitherto secretary and vice-chairman of UGC.</p>
       
      
    </div>
    <div class="card card2">
      <h3>UGC chairman</h3>
      <p><img class="lea"src="img/CEO of serum.jpg" width="200px" alt="CEO of serum">
        Adar Poonawalla is an Indian entrepreneur and businessman. He is 
        the CEO (Chief Executive Officer) of the Serum Institute of India -
         the most prominent vaccine manufacturer globally by the number of doses produced.
          Adar is mainly known for his contribution to vaccine production for the COVID-19.
           His company’s vaccine – COVI-Shield, was the first vaccine of India. Let’s get to 
           see the success story of this mighty Indian businessman who has made India proud.</p>
       
      
    </div>
    <div class="card card3">
      <h3>Holly King — Chair, Almond Board of California</h3>
      <p><img class="lea"src="img/holly king.jpg" width="200px"alt="Holly King — Chair, Almond Board of California">
        Almond board of California invests $5.9 million for improving farmingPosted: 18 December 2019
        Related core topics: Business news, Cocoa & chocolate, Ingredients, Sustainability
        Related topics: almonds, chocolate, confectionery, farming techniques, ingredients, investment
        Related organisations: Almond Board of CaliforniaRelated people: Holly KingRelated regions:.
      The Almond Board of California (ABC).</p>
      
    </div>
  </div>
</section>
<footer>
 
    <h2>health,education and agricultur sector sponsor company</h2>
    <div class="sponser">  
      <img class="ram" src="img/wipro.jpg" alt="wipro">
      <img class="ram" src="img/indianoil.png" alt="indianoil">
      <img class="ram" src="img/reliance.png" alt="relaince">
      <img class="ram" src="img/icicibank.png" alt="ICICI Bank">
      <img class="ram" src="img/ultratech.png" alt="ultratech">
  </div>
</footer>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script>
    const navimg = document.querySelector(".navimg");
    const header = document.querySelector(".na");

    const toggle = () =>{
      header.classList.toggle("active")
    }
    navimg.addEventListener('click',() => toggle());
  </script>
</body>
</html>
